/* makes sizing simpler */

:root {
  --image-url: url(./image/bw_bg.webp);

  --color-primary: 37, 37, 37;
  --color-secondary: 240, 240, 240;
  --color-border: 37, 37, 37;

  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  font-size: 62.5%;
  color-scheme: dark light;
}

/* min body height */

body {
  min-height: 100dvh;
  font-weight: var(--fw-500);
  position: relative;
  background-image: var(--image-url);
  background-size: 300rem;
  background-repeat: no-repeat;
  background-position: 40% 20%;
  backdrop-filter: blur(8px);
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 255, 255);

  transition: background-image 0.7s;
}

@media screen and (min-width: 587px) {
  body {
    background-size: 200rem;
    background-position: 25% 15%;
  }
}
/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.switch-container {
  position: absolute;
  top: 3.1rem;
  left: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.switch {
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 3px solid rgb(var(--color-primary), 0.8);
  color: var(--color-secondary);
}
.switch-1 {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(6, 6, 6, 1) 25%,
    rgba(252, 252, 252, 0.5) 100%
  );
}

.switch-2 {
  background: linear-gradient(to left, #556270, #ff6b6b);
}

.heading-primary,
.heading-secondary {
  line-height: 1;
  font-weight: 700;
}

.heading-primary {
  width: 8ch;
  font-size: 6rem;
  text-align: center;
}

.heading-secondary {
  font-size: 5rem;
}
.heading-tertiary {
  font-size: 3rem;
  text-align: center;
}
.sub-heading {
  font-size: 2rem;
  margin-top: 0.8rem;
}

.heading-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading-3 {
  margin-bottom: 1.4rem;
}
.description {
  line-height: 1.3;
  margin-top: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.container-1 {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photos {
  border: 3px solid rgb(var(--color-secondary), 1);
}

.btn {
  color: inherit;
  font-size: 1.4rem;
  padding: 0.5rem 1.4rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  border: 3px solid rgb(var(--color-secondary), 0.5);
}

.btn-profile {
  margin-top: 2rem;
  background-color: transparent;
}

.btn-back {
  align-self: end;
  background-color: rgb(var(--color-primary), 0.8);
}

.btn:hover {
  border: 3px solid rgb(var(--color-secondary), 1);
  background-color: rgb(var(--color-primary), 1);
}

.section-1,
.section-2 {
  display: none;
  opacity: 0;
  transition: opacity 2s display 2s;
}

.section-1.active,
.section-2.active {
  display: block;
  opacity: 1;
  animation: fade-in 800ms forwards;
}

.section-2 {
  padding: 3rem;
}

@media screen and (min-width: 470px) {
  .heading-primary {
    font-size: 9rem;
  }
  .heading-secondary {
    font-size: 7rem;
  }
  .heading-tertiary {
    font-size: 4rem;
  }

  .description {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 587px) {
  .switch-container {
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .btn {
    margin-right: 2rem;
    font-size: 1.2rem;
  }

  .container-1 {
    height: unset;
  }
  .heading {
    background-color: rgb(var(--color-primary), 0.6);
    backdrop-filter: blur(10px);
  }

  .heading-1 {
    text-align: center;
    width: 60%;
    padding: 4rem 2rem;
    border: 4px solid rgb(var(--color-secondary), 0.5);
    border-radius: 5px;
  }
  .heading-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 3rem 3rem;
  }

  .heading-3 {
    width: 50%;
    padding: 1rem 0rem;
    align-self: center;
  }
  .heading-primary {
    font-size: 4rem;
  }
  .heading-secondary {
    font-size: 4rem;
  }
  .heading-tertiary {
    font-size: 2rem;
  }
  .sub-heading {
    font-size: 1.4rem;
  }

  .description {
    width: 75ch;
    font-size: 0.8rem;
  }
  .container {
    width: 80%;
    background-image: var(--image-url);
    background-size: cover;
    background-position: center;
    position: absolute;
    border: 4px solid rgb(var(--color-secondary), 0.8);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-image 0.7s;
  }

  .container-1 {
    padding: 8rem 0rem;
  }
  .section-2 {
    padding: 0;
  }

  .container-2 {
    padding: 2rem 0rem;
  }

  .portofolio {
    display: flex;
    flex-direction: column;
  }
  .photos {
    display: flex;
    justify-content: center;
    border: unset;
    gap: 0.8rem;
  }
  img {
    width: 30%;
    border: 3px solid rgb(var(--color-secondary), 1);
  }
}

/* @media screen and (min-width: 789px) {
  .heading-2 {
    width: 80%;
  }
} */

@media screen and (min-width: 827px) {
  .btn {
    font-size: 1.4rem;
  }
  .heading-primary {
    font-size: 6rem;
  }
  .heading-secondary {
    font-size: 5rem;
  }
  .heading-tertiary {
    font-size: 2.5rem;
  }

  .description {
    width: 75ch;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1137px) {
  .switch-container {
    flex-direction: column;
    left: 4%;
    top: 50%;
    transform: translateY(-50%);
  }
  .btn {
    font-size: 1.6rem;
    padding: 1.4rem 2.4rem;
  }
  .heading-primary {
    font-size: 9rem;
  }
  .heading-secondary {
    font-size: 8rem;
  }
  .heading-tertiary {
    font-size: 2.6rem;
  }
  .description {
    font-size: 1.4rem;
  }
  .container {
    height: 90vh;
    justify-content: center;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
